{% extends 'base.html.twig' %}

{% block title %}Box index{% endblock %}

{% block body %}
    <h1>Box index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for box in boxes %}
            <tr>
                <td>{{ box.id }}</td>
                <td>
                    <a href="{{ path('app_box_show', {'id': box.id}) }}">show</a>
                    <a href="{{ path('app_box_edit', {'id': box.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_box_new') }}">Create new</a>
{% endblock %}
